@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Angel Rhapsody";
  src: url("/fonts/Angel rhapsody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    --background: #1e1e1e;
    --foreground: #fff4eb;

    --primary: #db9f6a;
    --primary-foreground: #483524;

    --secondary: #1e1c17;
    --secondary: #fff4eb;

    --radius: 2rem;

    --background-muted: rgba(42, 39, 34, 0.5);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: hsl(var(--background));
  border-radius: 8px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  color: hsl(var(--primary));
  background-color: hsl(var(--primary));
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}
